.sort-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.sort-header select {
  padding: 8px 12px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 12px;
  /* padding-left: 15px; */
  margin-left: 10px;
}
