body {
  background: #ccc;
}
h2 {
  display: flex;
  justify-content: center;
  color: #1877f2;
  font-size: 32px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
form {
  width: 250px;
  height: 275px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: white;
}
label {
  display: flex;
  justify-self: center;
  font-weight: bold;
}
input {
  width: 250px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0px 0px 0px 7px;
}
button {
  width: 250px;
  height: 30px;
  background: #1877f2;
  color: white;
  font-size: 15px;
  margin-bottom: 10px;
  border: 1px solid #1877f2;
  border-radius: 5px;
}
a {
  display: flex;
  justify-content: center;
  color: #1877f2;
  font-weight: bold;
  text-decoration: none;
}
.driver {
  display: flex;
  align-items: center;
  text-align: center;
  color: #999;
  margin-bottom: 10px;
}
.driver hr {
  flex: 1;
  border: none;
  border-top: 1px solid #ccc;
}

.driver span {
  padding: 0 10px;
  font-size: 14px;
  color: #888;
}
.create {
  display: block;
  width: 200px;

  background: rgb(53, 190, 53);
  border: 1px solid rgb(53, 190, 53);
  border-radius: 10px;
  margin: 0 auto;
}
.create1 {
  color: white;
}
