.section {
  margin-left: 5vw;
  margin-top: 150px;
  position: relative;
  display: flex;
  align-items: center;
  width: 90vw;
  height: 80vh;
  border-radius: 10px;
  /* border: 2px solid red; */
  background: #f1eeea;
}
.section i {
  font-size: 200px;
  position: relative;
  left: 12%;
  top: 6px;
}
.frame {
  height: 70%;
  width: 60%;
  border-left: 2px solid #000;
  border-top: 2px solid #000;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
}
.section h1 {
  position: absolute;
  left: 40%;
  top: 15%;
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
}
.section div .input {
  position: relative;
  left: 5%;
  border: none;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 80%;
  top: 5%;
}
.input-box {
  position: relative;
  width: 100%;
  height: 100px;
  border: none;
  border-bottom: 3px solid #162938;
  margin: 30px 0;
}
.input-box label {
  position: absolute;

  font-size: 1.5rem;
  color: #162938;
  pointer-events: none;
  transition: 0.5s;
  top: 20px;
  left: 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;

  border: none;
  outline: none;
  padding: 0 35px 0 5px;
  font-size: 1.5rem;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -20px;
}
.section button {
  position: relative;
  width: 400px;
  top: 85%;
  left: -25%;
  height: 50px;
  width: 30%;
  font-size: 2rem;
  color: #fff;
  background: #000;
  border-radius: 30px;
  cursor: pointer;
}
.section button:hover {
  background: #292828;
}
.contact-info {
  border: none;
  /* border: 2px solid green; */
  width: 40%;
  height: 95%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.contact-info h2 {
  margin-top: 40px;
  font-size: 2.5rem;
  font-family: "Roboto";
}
.contact-info p {
  font-size: 1.5rem;
}
.contact-info img {
  width: 100%;
  margin-top: 20px;
  left: 0;
}

.footer {
  margin-left: 0;
  margin-top: 200px;

  width: 100vw;
  height: 50vh;

  background: #5b7e97;
  color: #fff;
  display: flex;
  align-items: center;
  font-family: "roboto";
}
.footer-logo {
  height: 100%;
  width: 25%;
}
.footer-logo img {
  width: 100%;
  position: relative;
  /* top: -50px; */
}
.footer-contact {
  height: 40vh;
  width: 25%;

  display: flex;
  flex-direction: column;
}
.footer-contact h1 {
  font-weight: bold;

  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.footer-contact p {
  padding-left: 20px;
  padding-top: 20px;
  font-size: 1.3rem;
  cursor: pointer;
}
.footer-contact p i {
  padding-right: 50px;
  font-size: 1.3rem;
}
.footer-contact .line {
  width: 90%;
  height: 2px;
  background: #fff;
  margin-top: 20px;
  margin-left: 20px;
}
.footer-contact .platform {
  width: 80%;
  position: relative;
  left: -10px;
  height: 15%;
  margin-top: 25px;
  display: flex;
}
.footer-contact .platform i {
  margin: 0 20px;
  font-size: 2rem;
  cursor: pointer;
}
.footer-something {
  height: 40vh;
  width: 45vw;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  margin-left: 10vw;
}
.footer-something div {
  height: 100%;
  width: 33%;

  display: flex;
  flex-direction: column;
}
/* .footer-something .about-us {
  display: flex;
  flex-direction: column;
} */
.footer-something h1 {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.footer-something a {
  text-decoration: none;
  color: #fff;
  font-family: "roboto";
  margin-left: 20px;
  margin-top: 20px;
  font-size: 1.3rem;
}
