<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static%}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'detail.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Email Detail</title>
  </head>
  <body>
    <section class="hero">
      <h1>{{email.title}}</h1>
      <h2>{{email.description}}</h2>
      <h2>{{email.time}}</h2>
      <a class="home" href="/">Quay ve trang chu</a>
    </section>
  </body>
</html>
