.certification {
  width: 80%;
  height: 40vh;
  margin-left: 10vw;
  margin-top: 10vh;
  display: flex;
  /* border: 2px solid red; */
  background: #36454f;
  border-radius: 50px;
}
.certification .image {
  border-radius: 50px;
  width: 35%;
}

.certification .image img {
  height: 100%;
  width: 100%;
  border-radius: 50px;
}

.cer-content {
  width: 65%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cer-content h1 {
  font-size: 4rem;
  padding-top: 20px;
}
.cer-content p {
  padding: 30px 50px 0 50px;
  font-size: 1.8rem;
  text-align: center;
}
