.feedback-container {
  margin-top: 10vh;
  width: 100vw;
  height: 50vh;
  /* border: 2px solid red; */
  background: #f1e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.feedback-container h1 {
  font-size: 4.5rem;
}

.feedback-wrapper {
  position: relative;

  width: 730px;
}

/* 2. Vùng chứa (Viewport), ẩn phần tràn */
.feedback {
  width: 100%;
  overflow: hidden; /* Đây là chìa khóa */

  border-radius: 10px;
}

/* 3. Thanh trượt (Slide), chứa TẤT CẢ các box */
.feedback-slide {
  display: flex;
  /* Hiệu ứng trượt mượt */
  transition: transform 0.5s ease-in-out;
}

/* 4. Kiểu dáng chung cho mỗi box */
.feedback-slide .box {
  width: 700px; /* Kích thước cố định cho 1 box */
  height: 300px; /* Lề 10px mỗi bên (tạo lề giữa 20px) */
  flex-shrink: 0; /* Ngăn box bị co lại */
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  font-size: 2.5rem;
  font-weight: bold;
  color: #2b9474;
  box-sizing: border-box;
  border-radius: 30px;
  overflow: hidden;
  background: #fff;
}
.feedback-slide .box p {
  font-size: 1.5rem;
  font-weight: normal;
  color: gray;
  width: 80%;
  text-align: center;
  font-style: italic;
  margin-top: 10%;
}
.feedback-slide .box h4 {
  font-size: 1.7rem;
  color: black;
  font-weight: normal;
  margin-left: 40%;
  margin-bottom: 5%;
}
.feedback-slide .box img {
  position: relative;
  top: 20px;
  margin-right: 10px;
  width: 60px;
}
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  color: black;
  border: 1px solid #5eca06;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 10;
  border-radius: 50%;
}
.carousel-btn i {
  font-size: 1.2rem;
}

.prev-btn {
  left: -100px;
}
.next-btn {
  right: -100px;
}
