.hero {
  display: flex;
  width: 100vw;
  height: calc(100vh - 100px);
  position: relative;

  margin-top: 100px;
  background: linear-gradient(to left, #1d594e, #6a9f3f);
}
.hero img {
  height: 100%;
  position: absolute;
  left: -10%;
}
.content {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 50%;
  top: 10%;
  width: 60%;
}
.hero .content h1 {
  color: white;
  font-family: "Roboto";
  font-size: 5rem;
  margin-top: 10%;
}
.content p {
  color: #fff;
  font-size: 2rem;
  margin-top: 5%;
  margin-bottom: 5%;
}
.shopping {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
}
.shopping a {
  height: 100%;
  width: 30%;
  background: #fff;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "roboto";
  font-size: 1.5rem;
  border-radius: 30px;
  color: #fff;
}
.shopping a:first-of-type {
  background: #5eca06;
}
.shopping a:first-of-type:hover {
  background: #4da505;
}

.shopping a:last-of-type {
  background: transparent;
  border: 2px solid #fff;
}
